{% load i18n %}
{% load static %}
    <section id="cta" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.3s">
            <div class="cta-text">
              <h4>{% trans 'Ainda não é cadastrado com a gente?' %}</h4>
              <p>{% trans 'Clique ao lado para se cadastrar!' %}</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12 text-right wow fadeInRight" data-wow-delay="0.3s">
            </br><a href="#" class="btn btn-common">{% trans 'Registre-se aqui!' %}</a>
          </div>
        </div>
      </div>
    </section>
