{% load i18n %}
{% load static %}
    <section id="testimonial" class="testimonial section-padding">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div id="testimonials" class="owl-carousel wow fadeInUp" data-wow-delay="1.2s">
              <div class="item">
                <div class="testimonial-item">
                  <div class="img-thumb">
                    <img src="{% static 'img/testimonial/img1.jpg' %}" alt="">
                  </div>
                  <div class="info">
                    <h2><a href="#">David Smith</a></h2>
                    <h3><a href="#">Creative Head</a></h3>
                  </div>
                  <div class="content">
                    <p class="description">{% trans '"A Fusion superou todas as minhas expectativas! A qualidade dos produtos, o atendimento excepcional e a eficiência nas entregas fizeram com que eu me tornasse um cliente fiel. Recomendo a todos que buscam excelência."' %}</p>
                    <div class="star-icon mt-3">
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-half"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-item">
                  <div class="img-thumb">
                    <img src="{% static 'img/testimonial/img2.jpg' %}" alt="">
                  </div>
                  <div class="info">
                    <h2><a href="#">Domeni Gesson</a></h2>
                    <h3><a href="#">Awesome Technology co.</a></h3>
                  </div>
                  <div class="content">
                    <p class="description">{% trans '"A Fusion é líder em inovação no setor de soluções empresariais. Seus produtos e serviços são sempre atualizados, proporcionando às empresas as ferramentas necessárias para se destacarem no mercado."' %}</p>
                    <div class="star-icon mt-3">
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-half"></i></span>
                      <span><i class="lni-star-half"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-item">
                  <div class="img-thumb">
                    <img src="{% static 'img/testimonial/img3.jpg' %}" alt="">
                  </div>
                  <div class="info">
                    <h2><a href="#">Dommini Albert</a></h2>
                    <h3><a href="#">Nesnal Design co.</a></h3>
                  </div>
                  <div class="content">
                    <p class="description">{% trans '"A Fusion é uma empresa que verdadeiramente se preocupa com a qualidade. Seus produtos são robustos, confiáveis e sempre atendem às nossas necessidades. É bom saber que podemos contar esta empresa."' %}</p>
                    <div class="star-icon mt-3">
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-half"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-item">
                  <div class="img-thumb">
                    <img src="{% static 'img/testimonial/img4.jpg' %}" alt="">
                  </div>
                  <div class="info">
                    <h2><a href="#">Fernanda Anaya</a></h2>
                    <h3><a href="#">{% trans 'Developer' %}</a></h3>
                  </div>
                  <div class="content">
                    <p class="description">{% trans '"Desde que iniciamos nossa parceria com a Fusion, nossa empresa experimentou um crescimento notável. A dedicação e as soluções personalizadas tornaram a Fusion uma parte fundamental de nossa estratégia de negócios."' %}</p>
                    <div class="star-icon mt-3">
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-half"></i></span>
                      <span><i class="lni-star-half"></i></span>
                      <span><i class="lni-star-half"></i></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
