{% load i18n %}
{% load static %}
    <footer id="footer" class="footer-area section-padding">
      <div class="container">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="footer-logo"><img src="{% static 'img/logo.png' %}" alt=""></h3>
                <div class="textwidget">
                  <p>{% trans 'Transformando Desafios em Oportunidades' %}</p>
                </div>
                <div class="social-icon">
                  <a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
                  <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
                  <a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
                  <a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">{% trans 'Produtos' %}</h3>
              <ul class="footer-link">
                <li><a href="#">{% trans 'Monitoramento' %}</a></li>
                <li><a href="#">{% trans 'Aplicação' %}</a></li>
                <li><a href="#">{% trans 'Planejamento de recursos' %}</a></li>
                <li><a href="#">{% trans 'Empreendimento' %}</a></li>
                <li><a href="#">{% trans 'Gestão de Funcionários' %}</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">{% trans 'Recursos' %}</h3>
              <ul class="footer-link">
                <li><a href="#">{% trans 'Opções de pagamento' %}</a></li>
                <li><a href="#">{% trans 'Tabela de taxas' %}</a></li>
                <li><a href="#">{% trans 'Começando' %}</a></li>
                <li><a href="#">{% trans 'Verificação de Identidade' %}</a></li>
                <li><a href="#">{% trans 'Cartao de verificacao' %}</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">{% trans 'Contato' %}</h3>
              <ul class="address">
                <li>
                  <a href="#"><i class="lni-map-marker"></i> 105 Madison Avenue - <br> Third Floor New York, NY 10016</a>
                </li>
                <li>
                  <a href="#"><i class="lni-phone-handset"></i> P: +84 846 250 592</a>
                </li>
                <li>
                  <a href="#"><i class="lni-envelope"></i> E: info@fusion.com</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="copyright-content">
                <p>Copyright © 2024 <a rel="nofollow" href="{% url 'index' %}">Fusion</a>{% trans 'Todos os direitos reservados' %}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
