{% load i18n %}
{% load static %}
<section id="about" class="section-padding bg-gray">
    <div class="about-area section-padding bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-xs-12 info">
            <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
              <div>
                <div class="site-heading">
                  <p class="mb-3">{% trans 'Gerenciamento de estatísticas' %}</p>
                  <h2 class="section-title">{% trans 'Estatísticas detalhadas da sua empresa' %}</h2>
                </div>
                <div class="content">
                  <p>
                    {% trans 'Na Fusion, acreditamos na inovação como catalisadora do sucesso empresarial. Nossa missão é transformar desafios em oportunidades, capacitando nossos clientes com soluções tecnológicas de ponta e serviços personalizados. Diferenciamos-nos pela inovação constante, compromisso com a qualidade e valores fundamentais de integridade, colaboração e inovação. Construímos parcerias duradouras, adaptando-nos às necessidades em constante evolução de nossos clientes. Bem-vindo à Fusion, onde a excelência e a inovação convergem para criar um futuro repleto de oportunidades.' %}
                  </p>
                  <a href="#" class="btn btn-common mt-3">{% trans 'Consulte mais informações' %}</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
            <img class="img-fluid" src="{% static 'img/about/img-1.png' %}" alt="" >
          </div>
        </div>
      </div>
    </div>
</section>